body{
  font-family:Amaranth;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

#container{
  flex:1;
}

header{
  margin:0 0 0 30px;
  font-family:Sofia;
  font-size:1.5em;
  color:#CCFF00;
  text-shadow:2px 2px#FFE5B4;
}

nav{
  display:block;
  margin:0;
  padding:10px 0 10px 0;
  text-align:center;
}

.active{
  padding:10px 20px;
  background-color:#CCCCFF;
  border-radius:5%;
  opacity:100%;
}

.link{
  display:inline-block;
  margin:30px;
  padding:10px 20px;
  text-decoration:none;
  font-family:Aleo;
  font-size:1.2em;
  color:#20B2AA;
  line-height:10px;
  opacity:60%;
}

.link:hover{
  border:2px solid #CCCCFF;
  border-radius:3%;
  padding:10px 20px;
  opacity:100%;
}

.left{
  position:relative;
  width:40%;
  display:inline-block;
  float:left;
  margin:10px;
  left:50px;
}

.right{
  position:relative;
  width:40%;
  display:inline-block;
  float:right;
  margin:10px;
  right:100px;
}

.long{
  height:600px;
}

.short{
  height:400px;
}

.special{
  height:550px;
}

.set{
  height:450px;
}

.photo{
  opacity:1;
  display:inline-block;
  transition:.5s ease;
  width:100%;
  margin:5%;
  border: 1px solid #DDDDDD;
  border-radius:4px;
  padding:5px;
}

.middle{
  opacity:0;
  transition:.5s ease;
  position:absolute;
  top:10%;
  left:10%;
}

.text{
  display:inline-block;
  position:relative;
  font-size:40px;
  color:#2F4F4F;
}

.all:hover .photo{
  opacity:30%;
}

.all:hover .middle{
  opacity:1;
  transition:.5s ease;
}

footer{
   background-color:#EEE8AA;
   width:100%;
   margin:0;
   text-align:center;
   font-family:Aleo;
}

footer p{
  margin:0.5em;
  font-size:1.3em;
}

footer img{
  margin:0.5em;
  width:2em;
}

@media only screen and (max-width:640px){

.link{
  display:inline-block;
  width:50%;
  margin:10px;
}

.all{
  display:block;
  width:300px;
}

.long{
  height:360px;
}

.short{
  height:250px;
}

.special{
  height:335px;
}

.xset{
  height:250px;
}

.set{
  height:280px;
}

.xshort{
  height:200px;
}
}
